@charset "UTF-8";
/* real skin tones (@scheme color) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #FFDBAC;
	text-align: center;
	letter-spacing: 1px;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 16px;
	color: black;
}



/* HEADER */
h1 {
	margin: 0;
	padding: 1vh 0;
}

header {
	background-color: #8D5524;
	color: white;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.task-head {
	text-decoration: underline;
}

#chevron {
	transform: scale(2, 1);
	padding: 0 0 1vh;
}

#task {
	position: absolute;
	z-index: 1;
	padding: 0.5vh 10vw;
	background-color: #C68642;
}



/* MAIN */
main {
	padding-top: 5vh;
}

.form-input {
	border: none;
	border-bottom: 1px black solid;
	background-color: transparent;
	text-align: center;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 0.8em;
}

.form-input:focus {
	border-bottom-color: green;
}

.form-input:focus::placeholder {
	color: black;
}

.get {
	margin: 1vh 0;
	border: 2px green solid;
	padding: 1vh 0;
	font-size: 1em;
}

.interact {
	width: 30%;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.get:active {
	border-color: red;
	background-color: aliceblue;
}

.message {
	margin: 0.4vh 0;
	color: white;
}

.set {
	margin: 1vh 0;
	border: 2px black solid;
	padding: 0.5vh 0;
	font-size: 1em;
	text-align: center;
}

.set:focus {
	border-color: yellow;
}

.set:focus::placeholder {
	color: black;
}

#console {
	margin: 1vh 10vw;
	border: 2px silver solid;
	border-radius: 5px;
	height: 20vh;
	padding-left: 2vw;
	background-color: black;
	overflow-y: scroll;
	text-align: left;
	font-size: 0.9em;
}

#interact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

#form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	margin-bottom: 2vh;
	text-align: center;
}

#form-submit {
	border: 2px orange solid;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 0.8em;
}

#form-submit:active {
	border-color: blue;
	background-color: aliceblue;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1vh 0;
	background-color: #E0AC69;
}

.more-link {
	color: black;
}

.more-link:active {
	color: red !important;
}

.more-link:hover {
	color: blue;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1vh 0 0;
	font-size: 1.2em;
}